
<div data-role="view"  id="orden"  data-title="Audio" data-layout="main" data-model="audio">
<header class="header">
			<h1></h1>
		</header>
        <div class="content">
            <div class="action-area ch50">
                           
                <button data-bind="click: seleccionar" data-role="button">Seleccionar</button>
			</div>
            <div class="result-area ch50">
                <div class="results">
                    <div id="media"></div>
                </div>
				<div class="separator"></div>
			</div>
        </div>
        <footer class="footer">
		    <div></div>
	    </footer>
</div>
