<div id="ListaClientes" data-role="view" data-title="Lista Clientes" data-layout="main" data-model="app.funcionalidad01" data-show="app.funcionalidad01.onShow" data-after-show="app.funcionalidad01.afterShow">
    <!-- START_CUSTOM_CODE_funcionalidad01 -->

    <div id="lstCliente"></div>
    
    <script type="text/x-kendo-tmpl" id="tmpLstCliente">
        <div>
            <dl style="border-bottom-style: solid; border-bottom-color: black; border-bottom-width: thin">        
                <dt>#:ClienteNombre#</dt>
                <dd>#:ClienteRubro#</dd>
            </dl>
        </div>
    </script>
    
    <!--
    NOTA: Si puo intercambiare fra kendoListView e kendoMobileListView
    ATTENZIONE: kendoMobileListView puo gestire un template specializzato per editing ** editTemplate **
    Entrambe le opzioni kendoListView e kendoMobileListView suppportano Add di nuovi item
    La f01 di AUSA richiede uso di kendoMobileListView
    -->

    <script>
        $(document).ready(function () {
            $("#lstCliente").kendoListView({
                dataSource: dsCliente,
                template: kendo.template($("#tmpLstCliente").html()),
                selectable: true,
                change: function(e) {
                    
                    var row = $(".k-state-selected").select();
                    console.log("ClienteID > " + this.dataItem(row).ClienteID);
                    
                    //console.log("E > data: " + e.dataItem);

                    /*
                    *** hooks to handle kendoMobileListView data structure ***
                    $("#det-nombre").html(e.dataItem.nombre);
                    $("#det-rubro").html(e.dataItem.rubro);
                    get_Contactos_Clientes(e.dataItem.id);
                    */
                    
                    //Change view to detail
                    window.location.href = "#det-cliente";
                }
            });
        });
    </script>

    <!-- END_CUSTOM_CODE_funcionalidad01 -->
</div>

<div data-role="view" id="det-cliente" data-title="Detalle" >
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" href="#ListaClientes">Regresar</a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-4">
                <h6 class="text-left">ACTUALIZACION</h6>                
            </div>
            <div class="col-xs-8">
                <h6>15 Octubre 2015 - 16:35:52</h6>                
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h6>CLIENTE</h6>
            </div>
            <div class="col-xs-8">
                <h6 id="det-nombre"></h6>
            </div>
        </div>
    </div>
    
    <div style="display:inline;">Nombre:</div> <div id="det-nombre" style="display:inline;"></div> <br>
    <div style="display:inline;">Rubro:</div><div id="det-rubro" style="display:inline;"></div>
 
</div>
