<div id="ListaClientes" data-role="view" data-title="Lista Clientes" data-layout="main" data-model="app.funcionalidad01" data-show="app.funcionalidad01.onShow" data-after-show="app.funcionalidad01.afterShow">
    <!-- START_CUSTOM_CODE_funcionalidad01 -->
      
    <ul id="ListaEmpresas">        
    </ul>

    <div id="DetalleEmpresa">
        ABCD---
    </div>
   
     
    <div data-role="view" id="det-cliente" data-title="Detalle Cliente" >
        <div data-role="navbar">
            <span data-role="view-title"></span>
            <a data-role="button" data-align="right" href="#ListaClientes">Regresar</a>
        </div>

        <ul data-role="listview" >
            <li>A</li>
            <li>B</li>
            <li>C</li>
        </ul>
    </div>   
    
    <!-- END_CUSTOM_CODE_funcionalidad01 -->
</div>


