<div id="ListaClientes" data-role="view" data-title="Lista Clientes" data-layout="main" data-model="app.funcionalidad01" data-show="app.funcionalidad01.onShow" data-after-show="app.funcionalidad01.afterShow">
    <!-- START_CUSTOM_CODE_funcionalidad01 -->

    <!--<ul id="f01lv"></ul>-->
    
    <div id="f01lv"></div>
    
    <script type="text/x-kendo-tmpl" id="template">
        <!--NOTA: creare la struttura del ITEM con tutti i dettagli necessari-->
        <h3>
            #:nombre#
            <a href="\#det-cliente" data-role="detailbutton" data-style="detaildisclose"></a>
        </h3>
    </script>
    
    <script>
        $(document).ready(function() {
            $("#f01lv").kendoMobileListView({
               dataSource: f01,
                
               click: function(e) {
                    console.log("Nombre: " + e.dataItem.nombre + " Id: " + e.dataItem.id);
                    $("#det-nombre").html(e.dataItem.nombre);
                    $("#det-rubro").html(e.dataItem.rubro);
               },
               template: kendo.template($("#template").html())
            });            
        })
    </script>
    <!-- END_CUSTOM_CODE_funcionalidad01 -->
</div>

<div data-role="view" id="det-cliente" data-title="Detalle" >
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" href="#ListaClientes">Regresar</a>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-xs-2">Cliente</div>
            <div class="col-xs-4">ABCDE</div>
        </div>
        
    </div>
    
    <div style="display:inline;">Nombre:</div> <div id="det-nombre" style="display:inline;"></div> <br>
    <div style="display:inline;">Rubro:</div><div id="det-rubro" style="display:inline;"></div>
 
</div>
