.logoBase
{
    width: 43%;
    background-color: white;
    margin: 0px 0px -11px 0px;
}

.footerUsuario
{
    float: left;
    padding: 30px 0px 0px 10px;
    font-style: oblique;
    font-weight: bold;
}

.AlertaTareas1
{
    /*Rojo*/
    background-color: #f00 !important;
    color: #FFFFFF;
    /*border: black 1px solid;*/
}

.AlertaTareas2
{
    /*Naranja*/
    background-color: #EF7A1D !important;
    color: #FFFFFF;
}

.listadoTareas
{
    width: 700px;
}

.listadoTareas li
{
    float: left;
    width: 100%;
}

.columHeader
{
    text-align: center;
    font-weight: bold;
}

.columTarea01
{
    float: left;
    width: 30%;
}
.columTarea02
{
    float: left;
    width: 10%;
    text-align: center;
}
.columTarea03
{
    float: left;
    width: 15%;
    text-align: center;
}
.columTarea04
{
    float: left;
    width: 15%;
    text-align: center;
}
.columTarea05
{
    
}
.columTarea06
{
    
}
