<!DOCTYPE html>

<html>
    <head>
        <title></title>
    </head>
    <body>
        <!--flightStatus page-->
        <div id="detalleTarea" data-role="page" data-add-back-btn="true">
            <div data-role="header" data-position="fixed"  data-tap-toggle="false">
                <h1>Detalle Tarea</h1>

            </div>
            <div data-role="content">
                <ul data-role="listview" id="Ul1" data-inset="true" data-theme="d">
                    <li>Coming Soon!</li>
                </ul>
            </div>
        </div>
    </body>
</html>