<!--<div data-role="view" data-title="funcionalidad 03" data-layout="main" data-model="app.funcionalidad03" data-show="app.funcionalidad03.onShow" data-after-show="app.funcionalidad03.afterShow">-->
<div data-role="view" data-title="Seguimiento Tareas" data-layout="main" data-model="app.funcionalidad03" data-show="app.funcionalidad03.onShow" data-after-show="app.funcionalidad03.afterShow">

    <!-- START_CUSTOM_CODE_funcionalidad03 -->
    <!-- END_CUSTOM_CODE_funcionalidad03 -->

    <!--<ul data-role="listview" data-style="inset" class="listadoTareas">
    <li class="">
    <div class="columHeader columTarea01">Tarea</div>
    <div class="columHeader columTarea02">Cliente</div>
    <div class="columHeader columTarea03">Fecha C.</div>
    </li>
           
    <li class="">
    <div class="columTarea01">Ajustar Tarifas</div>
    <div class="columTarea02">Alta</div>
    <div class="columTarea03">28/09/2015</div>
    </li>
        
    <li class="">
    <div class="columTarea01">Definir Indicadores</div>
    <div class="columTarea02">Alta</div>
    <div class="columTarea03">28/09/2015</div>
    </li>
        
    <li class="AlertaTareas1">
    <div class="columTarea01">Levantamiento de especificaciones de despacho</div>
    <div class="columTarea02">Medio</div>
    <div class="columTarea03">28/09/2015</div>
    </li>
        
    <li class="AlertaTareas2">
    <div class="columTarea01">Particulares de atencion</div>
    <div class="columTarea02">Alta</div>
    <div class="columTarea03">28/09/2015</div>
    </li>
    </ul>-->
    <div id="container">
        <input data-role="autocomplete" 
               data-text-field="name" 
               data-source="{data: [{name: 'John Doe'},{name: 'Jane Doe'}]}" />
    </div>
    
    <script>
        kendo.bind($("#container"), {});
    </script>

</div>