<!--<div data-role="view" data-title="funcionalidad 03" data-layout="main" data-model="app.funcionalidad03" data-show="app.funcionalidad03.onShow" data-after-show="app.funcionalidad03.afterShow">-->

<!-- Menu Derecho -->
    <!--div id="right-drawer" data-role="drawer" data-title="&nbsp;" data-position="right" data-views='["components/funcionalidad03/view.html"]'>
        <header data-role="header">
            <div data-role="navbar">
                <span data-role="view-title"></span> 
            </div>
        </header>
        <ul id="navigation-container" data-role="grid">
            	
        </ul>
        <footer>
        </footer>
    </div-->
<!-- Menu Derecho -->

<!-- Listado Tareas -->
<div id="tareas1" data-role="view" data-title="Seguimiento Tareas" data-layout="main" data-model="app.funcionalidad03" data-show="cargaEmpleados" >
	<div id="tareas">
	
    </div>    
</div>
<!-- Listado Tareas -->
 
<!-- Templates --> 
<script type="text/x-kendo-tmpl" id="tema001">
	 
</script>
<!-- Templates -->


<!-- Carga JavaScript 2st -->
 <script>   
    
</script>
<!-- Carga JavaScript 2st -->