
<div data-zoom="true" id="idvista1" data-role="view" data-title="Seguimiento Tareas" data-layout="main" data-model="app.funcionalidad03" data-show="cargaEmpleados1" >
	<div>
        Letra Tamaño 10px
    </div>
    <div id="vista1" style="font-size:10px;">
	
    </div>    
</div>

<script>
	var ListTareas1 = new kendo.data.DataSource({ 
                        data: [
                           		{id: 1,  idTTarea: 10,nombre: "Tarea Nro 1", cliente: "Cliente 1", fcreacion: "01/10/2015", flimite: "01/10/2015", estado: "pendiente", prioridad: "alto"},
                                {id: 2,  idTTarea: 10,nombre: "Tarea Nro 2", cliente: "Cliente 2",fcreacion: "01/10/2015", flimite: "01/10/2015",  estado: "pendiente", prioridad: "medio"},
                                {id: 3,  idTTarea: 3,nombre: "Tarea Nro 3", cliente: "Cliente 3",fcreacion: "01/10/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "alto"},
                                {id: 4,  idTTarea: 4,nombre: "Tarea Nro 4", cliente: "Cliente 4",fcreacion: "01/12/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "alto"},
                                {id: 5,  idTTarea: 5,nombre: "Tarea Nro 5", cliente: "Cliente 5",fcreacion: "01/10/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "alto"},
                                {id: 6,  idTTarea: 6,nombre: "Tarea Nro 6", cliente: "Cliente 6",fcreacion: "01/10/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "bajo"},
                                {id: 7,  idTTarea: 7,nombre: "Tarea Nro 7", cliente: "Cliente 7",fcreacion: "01/12/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "alto"},
                                {id: 8,  idTTarea: 8,nombre: "Tarea Nro 8", cliente: "Cliente 8",fcreacion: "01/10/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "alto"},
                                {id: 9,  idTTarea: 9,nombre: "Tarea Nro 9", cliente: "Cliente 9",fcreacion: "01/10/2015", flimite: "01/10/2015",   estado: "pendiente", prioridad: "medio"},
                                {id: 10, idTTarea: 10,nombre: "Tarea Nro 10", cliente: "Cliente 10",fcreacion: "01/10/2015", flimite: "01/10/2015",estado: "pendiente", prioridad: "medio"},
                                {id: 11, idTTarea: 11,nombre: "Tarea Nro 11", cliente: "Cliente 11",fcreacion: "01/10/2015", flimite: "01/10/2015",estado: "pendiente", prioridad: "bajo"},
                                {id: 12, idTTarea: 12,nombre: "Tarea Nro 12", cliente: "Cliente 12",fcreacion: "01/10/2015", flimite: "01/10/2015",estado: "pendiente", prioridad: "alto"},
                                {id: 13, idTTarea: 13,nombre: "Tarea Nro 13", cliente: "Cliente 13",fcreacion: "01/10/2015", flimite: "01/10/2015",estado: "pendiente", prioridad: "alto"}
                        ],
        				pageSize: 8
					 });
    
    function cargaEmpleados1 (){   
        
        $("#vista1").kendoGrid({
                dataSource: ListTareas1,
                height: 250,
            	filterable: true,
                sortable: true, 
            	scrollable: false,
            	pageable: true,
            	selectable: "row",
                columns: [/*{
                        field:"id",
                        filterable: false,
                        width: "50px"
                    },*/
                    {
                        field: "nombre",
                        title: "Nombre de Tarea",
                        width: "350px"                        
                    },
					{
                        field: "cliente",
                        title: "Cliente",
                        width: "150px"
                    },
                    {
                        field: "fcreacion",
                        title: "F. Creación",
                        format: "{0:dd/MM/yyyy}",
                        width: "50px"
                    }, {
                        field: "flimite",
                        title: "F. Limite",
                        format: "{0:dd/MM/yyyy}",
                        width: "50px"
                    }, {
                        field: "estado",
                        title: "Estado.",
                        width: "100px"
                    }, {
                        field: "prioridad",
                        title: "Prioridad.",
						width: "50px"
                    }
                ]
            	}); 
    }
</script>