<!-- Inicio formulario -->

<div id="ListaOrdenes" data-role="view" data-title="Seguimiento de Tareas" data-layout="main" data-model="app.PruebaTareas" data-show="app.PruebaTareas.onShow" data-after-show="app.PruebaTareas.afterShow">
    <div id="grid"></div>
    <script>
        

        $("#grid").kendoGrid({
            dataSource: {
                type: "odata",
                transport: {
                    read: "http://demos.telerik.com/kendo-ui/service/Northwind.svc/Orders"
                },
                schema: {
                    model: {
                        fields: {
                            OrderID: {
                                type: "number"
                            },
                            ShipName: {
                                type: "string"
                            },
                            ShipCity: {
                                type: "string"
                            }
                        }
                    }
                },
                pageSize: 10
            },
            filterable: true,
            sortable: true,
            resizable: true,
            pageable: true,
            columns: [{
                    field: "OrderID",
                    filterable: false,
                    width: 200
        },
                  "ShipName",
                  "ShipCity"
                 ]
        });
    </script>
</div>