<!-- Listado Operaciones -->
<div id="operaciones1" data-role="view" data-title="Seguimiento Oper." data-layout="main" data-model="app.funcionalidad05" data-show="f05FechaAtencionConsilidato" data-zoom="true">
    <div class="row">
        <div class="col-xs-6">
            <span>
                <button type="button" class="btn btn-default font-boton b_color_2 tex_boton_2" onclick="aumentarFont();">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </span>
            <span>
                <button type="button" class="btn btn-default font-boton b_color_2 tex_boton_2" onclick="disminuirFont();">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
            </span>
        </div>
        <div class="col-xs-6">
            <input id="f05FchAtencionConsilidato" style="width:100%">
        </div>
    </div>
    <div id="operaciones" class="font-cuerpo">
    </div>
</div>
<!-- End -->
<!-- Acción Tarea: Add Insert Delete -->
<div data-role="view" id="accionOperacion" data-title="Detalle">
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" href="#operaciones1"><span class="k-icon k-i-undo"></a>
    </div>
    <ul id="det-op" data-role="listview" class="col-md-12"></ul>
    <!--     Modal confirmación -->
    <div id="dialog" style="display:none;">
        <div id="cuerpoModal" class="form-group" align="center"></div>
        <div class="row">
            <div class="col-xs-6">
                <button id="btnFuncionFoto05" type="button" class="btn btn-default btn-block font-boton b_color_2 tex_boton_2" onclick="$('#dialog').data('kendoWindow').close();">Cancelar</button>
            </div>
            <div class="col-xs-6">
                <button id="btnFuncion05" type="button" class="btn btn-default btn-block font-boton b_color_2 tex_boton_2" onclick="">Aceptar</button>
            </div>
        </div>
    </div>
    <!--     End -->
</div>
<!--End-->
<!-- Template Detalle de Operación -->
<script type="text/x-kendo-tmpl" id="tempOP">
    </br>
    <button class="btn btn-default btn-block font-boton" id="btnAddFoto" onclick="addFoto();"> <span class="fa fa-camera" aria-hidden="true"></span> Agregar foto </button>
    </br>
    <div id="divBotonera">
    </div>
    </br>
    <div class="list-group">
        <button type="button" class="list-group-item font-cuerpo"><strong>Fecha Creación: </strong>#= kendo.toString(kendo.parseDate(FechaCreacion, 'dd-MM-yyyy'), 'dd/MM/yyyy') #</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Id Operación: </strong>#:NumOperacion#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Cliente: </strong>#:Cliente#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Despachador: </strong>#:Despachador#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Almacén: </strong>#:Almacen#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Núm órden: </strong>
            <tag id="Orden"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Tipo Carga: </strong>#:TipoCarga#</button>
        <!--button type="button" class="list-group-item font-cuerpo"><strong>Núm Matrícula: </strong>????</button-->
        <button type="button" class="list-group-item font-cuerpo"><strong>Cantidad: </strong>#:Cantidad#</button>
        <!--button type="button" class="list-group-item font-cuerpo"><strong>Tiempo Transcurrido: </strong>Cómo obtenerlo???</button-->
        <button type="button" class="list-group-item font-cuerpo"><strong>Fecha Inicio: </strong>
            <tag id="FechaInicio"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Operación: </strong>
            <tag id="Operacion"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Hora Inicio: </strong>
            <tag id="HoraInicio"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Hora Fin: </strong>
            <tag id="HoraFin"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Estado: </strong>
            <tag id="Estado"></tag>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Detalle: </strong>#:Detalle#</button>
    </div>
</script>
<!--End -->