<!-- Listado Operaciones -->
<div id="f04ContenedorOperaciones" data-role="view" data-title="Reasignación operaciones" data-layout="main" data-model="app.funcionalidad04" data-show=" f04getOperaciones" data-zoom="true">
    </br>
    <button type="button" class="btn btn-default font-boton" onclick="cambioClase();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aumentar</button>
    <p class="xxx font-cuerpo">Prueba aumento de letra!!!</p>
    </br>
    <div id="f04operaciones" class="font-cuerpo">
    </div>
</div>
<!-- End -->
<!-- Acción Tarea: Add Insert Delete -->
<div data-role="view" id="f04accionOperacion" data-title="Detalle">
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" href="#f04ContenedorOperaciones"><span class="k-icon k-i-undo"></a>
    </div>
    <ul id="f04det-op" data-role="listview" class="col-md-12">
    </ul>
</div>
<!--End-->
    
<!-- Template Detalle de Operación -->
<script type="text/x-kendo-tmpl" id="f04tempOP">
    <div class="list-group">

        <button type="button" class="list-group-item font-cuerpo">
        	<b class="color_1">Fecha Creación: </b>	
        	unir: Fecha Creación
    	</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Id Operación: </strong>
        	<p id="f04OperacionID"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Cliente: </strong>#:Cliente#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Despachador: </strong>#:Despachador#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Almacén: </strong>#:Almacen#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Núm órden: </strong>
        	<p id="f04Orden"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Tipo Carga: </strong>unir: Tipo Carga</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Núm Matrícula: </strong>????</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Cantidad: </strong>#:Cantidad#</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Tiempo Transcurrido: </strong>Cómo obtenerlo???</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Fecha Inicio: </strong>
        	<p id="f04FechaInicio"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Actividad: </strong>Actividad es Operación? ->
        	<p id="f04Operacion"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Hora Inicio: </strong>
        	<p id="f04HoraInicio"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Hora Fin: </strong>????</button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Estado: </strong>
        	<p id="f04Estado"></p>
        </button>
        <button type="button" class="list-group-item font-cuerpo"><strong>Detalle: </strong>????</button>
    </div>
</script>
<!--End -->
