<!-- Listado Operaciones -->
<div id="f04ContenedorOperaciones" data-role="view" data-title="Reasignación operaciones" data-layout="main" data-model="app.funcionalidad04" data-show=" f04getOperaciones" data-zoom="true">
    </br>
    <button type="button" class="btn btn-default font-boton" onclick="cambioClase();"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Aumentar</button>
    <p class="xxx font-cuerpo">Prueba aumento de letra!!!</p>
    </br>
    <div id="f04operaciones" class="font-cuerpo">
    </div>
</div>
<!-- End -->
<!-- Acción Tarea: Add Insert Delete -->
<div data-role="view" id="f04accionOperacion" data-title="Detalle">
    <div data-role="navbar">
        <span data-role="view-title"></span>
        <a data-role="button" data-align="right" href="#f04ContenedorOperaciones"><span class="k-icon k-i-undo"></a>
    </div>
    <ul id="f04det-op" data-role="listview" class="col-md-12">
    </ul>
    <ul class="col-md-12">
        <div class="list-group">
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Fecha Creación: </b></span>
                <span id="f04FechaCreacion"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Id Operación: </b></span>
                <span id="f04NumOperacion"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Cliente: </b></span>
                <span id="f04Cliente"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Despachador: </b></span>
                <span>
                    <input id="txtIdDespachador"/>
                </span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Almacén: </b></span>
                <span id="f04Almacen"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Núm órden: </b></span>
                <span id="f04Orden"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Tiempo Trasncurrido: </b></span>
                <span id="f04LVTiempoTrasncurrido"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Actividad: </b></span>
                <span id="f04LVOperacion"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Hora inicio: </b></span>
                <span id="f04LVHoraInicio"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1"><b>Estado: </b></span>
                <span id="f04LVEstado"></span>
            </div>
            <div class="list-group-item font-cuerpo">
                <span class="color_1">
                <b>Detalle: </b>
            </span>
                <div>
                    <textarea name="" id="f04Detalle" cols="42" rows="10">
                    </textarea>
                </div>
            </div>
            <div class="list-group-item font-cuerpo">
                <span>
                    <button onclick="Reasignar();">GUARDAR CAMBIOS</button>
                </span>
            </div>
        </div>
    </ul>
</div>
<!--End-->